/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: rgb(127, 192, 135); /* Correct syntax for background-color */
    font-family: Arial, sans-serif;
   
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  
  .container {
    background-color: #e8dcdc;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Corrected syntax for box-shadow */
    padding: 20px;
    width: 400px;
   
    margin-top: 50px;
    margin-left: 500px;
 
    
    
  }
 
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  img {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  strong {
    font-size: 18px;
  }
  